table, td, th{
    border: 1px solid black;
}
table{
    width: 100%;
    border-collapse: collapse;
}
tr:nth-child(even){
    background-color:grey;
}
tr:hover{
    background-color: aqua;
}

tr:hover{
    background-color: red;
}
a:link{
    color:red;
}
a:visited{
    color:blue;
}
a:hover{
    color:blueviolet;
}
a:active{
    color:aquamarine;
}
#tooltip{
    display: none;
} */
 #tooltip:hover p{
    display: inline;
    color:green;
}

#grad{
    width: 200px;
    height: 200px;
    background-color: blue;
    background-image: linear-gradient(to bottom right,blue,yellow);
}
h1{
    text-shadow: 0 0 3px orange;
}
h2{
    text-shadow: 3px 3px 5px red;
}

label{
    display:block;
    margin-top: 20px;
}
input:autofill {
    border: 3px solid blue;
} 
:enabled{
    background-color: gold;
}